@import url("https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35,35,85);
}
span {
    font-size: .9rem;
    color: #757373;
}
h6 {
    font-size: 1.1rem;
    color: rgb(24,24,49);
}

/* navigation bar */
nav
{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    z-index: 999;
}
/* logo */
nav img
{
    width: 130px;
    cursor: pointer;
}
/* align in a single line */
nav .navigation ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 90px;
}
nav .navigation ul li
{
    list-style: none;
    margin-left: 30px;
}
/* nav bar rigth side decoration */
nav .navigation ul li a
{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s ease;
}
/* right side nav hower effect */
nav .navigation ul li a.active,
nav .navigation ul li a:hover {
    color: burlywood;
}
/* search buttom */
nav .navigation ul li #search
{
    color:darkslategray;
    align-items: center;
    margin-right: 0px;
}
nav .navigation ul li label
{
    color: grey;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s ease;
}
/* home */
#home{
    background-image: linear-gradient(#9075D8,#9075D8),url("./images/back.png");
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
#home h2{
    color:#461E52;
    font-size: 2.2rem;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
#home p{
    color:cornsilk;
    font-size: 2rem;
    line-height: 25px;
}
/* #home img{
    width: 200px;
    margin-left: ;
} */
#home .btn{
    margin-top: 30px;

}
#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 10px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
#home a.blue{
    color: white;
    background: rgb(21,21,100);
    transition: o.3s ease;
}
#home a.blue:hover{
    color: rgb(21,21,100);
    background: beige;
}
#home a.yellow{
    color: white;
    background:  #A348A6;
    transition: 0.3s ease;
}
#home a.yellow:hover {
    color: #A348A6;
    background:white;
}
/* features */
#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}
#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#features .fea-box{
    background-color:aliceblue;
    text-align: start;
}
#features .fea-box i{

    font-size: 2.3rem;
    color: rgb(44,44,80);
}
#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
}
#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);

}
/* course */
#course {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}
#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;

}

#course .courses{
    text-align: start;
    background: whitesmoke;
    height: 100%;
}
#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}
#course .courses .details{
    padding: 15px 15px 0 15px;
}
/* Registration */
#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-color: #eea990;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#registration .reminder {
    color: #fff;
}
#registration .reminder h1 {
    color: #fff;
}
#registration .reminder .time {
    display: flex;
    margin-top: 40px;
}
#registration .reminder .time .date {
    text-align: center;
    padding: 13px 33px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 5px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255,255,255,0.18);
    font-size: 1.1rem;
    font-weight: 600;
}
#registration .form {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
}
#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgba(84,40,241);
    outline: none;
}

#registration .form input::placeholder {
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}


#registration .form .btn {
    margin-top: 20px;
}
#registration .form a.yellow{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 10px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background:  #FDC93B;
    transition: 0.3s ease;
}
#registration .form a.yellow:hover {
    color: rgb(21,21,100);
    background:white;
}
/* experts */
#experts {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}
#experts .expert-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;

}
#experts .expert-box .profile {
    background: beige;
    padding: 30px 10px;
}
.pro-links {
    margin-top: 10px;
    margin-bottom: 20px;
}
.pro-links i{
    padding: 10px 13px;
    border: 1px solid  rgb(21,21,100);
    cursor: pointer;
    transition: 0.3s ease;
}
.pro-links i:hover {
    background: rgb(21,21,100);
    color: #fff;
    border: 1px solid rgb(21,21,100);
    cursor: pointer;
}
/* footer */
footer {
    padding: 8vw;
    background-color: #101C32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-col {
    padding-bottom: 40px;
}
footer h3 {
    color: rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor:pointer;
    transition: 0.3s ease;
}
footer li:hover {
    color: rgb(241,240,245)
}
footer p{
    color: #7b838a;
}
footer .subscribe {
    margin-top: 20px;
}
footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}
footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 14px 15px;
    background-color: white;
    font-weight: 600;
}

footer .subscribe a.yellow{
    color: white;
    background:  #A348A6;
    transition: 0.3s ease;
}
footer .subscribe a.yellow:hover {
    color: #A348A6;
    background:white;
}
footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
footer .copyright p {
    color: #fff;
}
footer .copyright .pro-links {
    margin-top: 0px;
}
footer .copyright .pro-links i{
    background-color: #5f7185;
    color: #fff;
}
footer .copyright .pro-links i:hover {
    background-color:#FDC93B;
    color: #2c2c2c;
}

/* about */
#about-home{
    background-color: #eea990;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
#about-home h2 {
    color: #66545e;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#about-container {
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}
#about-container .about-img {
    width: 60%;
    padding-right: 60px;
}
#about-container .about-img img{
    width: 100%;
}
#about-container .about-text {
    width: 40%;
}
#about-container .about-text h2{
    color: #29303B;
    padding-bottom: 15px;
}
#about-container .about-text p{
    color: #686F7A;
    font-weight: 300;
}
#about-container .about-text .about-fe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}
#about-container .about-text .about-fe img {
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}
#about-container .about-text .about-fe .fe-text {
    width: 90%;
}
#about-container .about-text .about-fe .fe-text h5{
    font-size: 16px;
    color: #29303B;
}
#trust {
    text-align: center;
    padding: 8vw;
}
#trust .trust-img{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#trust .trust-img img{
    width: 90px;
    height: auto;
}